---
import BaseHead from "./BaseHead.astro";
import Header from "./Header.astro";
import Footer from "./Footer.astro";

interface Props {
title: string;
description?: string;
}

const { title, description = "MCP admin" } = Astro.props;
---

<!doctype html>
<html lang="hu">
<head>
<BaseHead title={title} description={description} />
</head>
<body>
<Header />
<main>
<slot />
</main>
<Footer />
</body>
</html>
